GATEWAY_HOST=localhost
USER_HOST=localhost
TRANSACTION_HOST=localhost
REVIEW_HOST=localhost

GATEWAY_PORT=80
USER_PORT=81
TRANSACTION_PORT=82
REVIEW_PORT=83
GATEWAY_GRPC_PORT=9090

POSTGRES_HOST=localhost
POSTGRES_PASSWORD=password
POSTGRES_USER=user

POSTGRES_GATEWAY_PORT=5430
POSTGRES_USER_PORT=5431
POSTGRES_TRANSACTION_PORT=5432
POSTGRES_REVIEW_PORT=5433
POSTGRES_CHAT_NOTIFICATION_PORT=5434
POSTGRES_JOB_PORT=5433